.login_form{
  width: 600px ;
  height: 300px ;
  position:  absolute ;
  left:  50% ;
  top:  50% ;
  margin-left:  -300px ;
  margin-top:  -150px ;
  z-index: 1000 ;
  text-align: left;
  display: flex;
  flex: 1;
  flex-direction: column;
  h1{
    width: 100%;
    text-align: center;
  }
  .ant-form{
    margin: auto;
    width: 80%;
    // background: white;

  }
}
